.programs__item{
    cursor: pointer;
    transition: 0.5s;
    border: 1px solid rgba(0,0,0,0.1);
    padding: 20px;
    background-color: #fff;
}
.programs__item:hover{
    box-shadow: rgb(100 100 111 / 20%) 0px 7px 29px 0px;
}
.programs__title{
    font-weight: 900;
    font-size: 18px;
    margin-bottom: 10px;
    min-height: 81px;
}
