.showCounts{
    display: flex;
    margin: 10px 0;
}

.showCount{
    padding: 5px;
    margin-right: 5px;
    cursor: pointer;
    border: 1px solid rgba(0,0,0,0.1);
    border-radius: 5px;
}

.showCountText{
    padding: 5px;
    margin-right: 5px;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 5px;
}

.showCount.active{
    border: 1px solid #c50000;
}

.showCount:last-child{
    margin-right: 0;
}

.selectedCount{
    margin: 20px 0;
}

.count{
    margin: 10px 0;
}

.alarm{
    padding: 20px;
    margin: 20px 0;
    border: 2px solid #c50000;
}
