input[type="checkbox"]{
    cursor: pointer;
}
.label__checkbox{
    display: block;
    cursor: pointer;
}

td{
    position: relative;
}

.edit{
    position: absolute;
    right: 5px;
    top: calc(50% - 8px);
    opacity: 0;
    cursor: pointer;
    transition: 0.4s;
}

td:hover .edit{
    opacity: 0.7;
}

.user_name{
    cursor: pointer;
    font-weight: 600;
}

.popup{
    padding: 20px;
    position: relative;
    min-height: 350px;
}

.close{
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 6px;
    z-index: 1;
}
.snils_cell{
    font-size: 12px;
}
.progress_td{

}
.progress_wrapper{
    display: flex;
    font-size: 12px;
}
.progress_wrapper > span{
    display: flex;
    align-items: center;
}
.progress_wrapper > span:first-child{
    margin-right: 6px;
}
.progress_wrapper > span > div{
    margin: 0;
    display: flex;
    align-items: center;
}

