.nav__items{
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav__item{
    padding: 5px;
    margin-right: 5px;
    cursor: pointer;
}
.nav__item:last-child{
    margin-right: 0;
}
.nav__item.active{
    color: red;
}